<html>
	<head>
		<title>ESSAY GENERATOR</title>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
	</head>
<body>
	<main class="results">
		<h2>{{ keyword }}</h2>
		<p>
			{% for r in result %}
				<div class="pos">
					{% for words in r %}
						{{ words }}
					{% endfor %}
				</div>
			{% endfor %}
		</p>
		<ol>
			{% for link in essay.links %}
				<li>{{ link }}</li>
			{% endfor %}
		</ol>
		<menu class="choice">
			<form action="{{ url_for('index') }}">
				<input class="button" type="submit" value="Different Keyword" />
			</form>
			<form action="{{ url_for('essay') }}" method="post" class="essay">
				<input type="hidden" name="keyword" style="display:none;" value="{{ keyword }}" />
				<input class="button" type="submit" value="Reload" />
			</form>
		</menu>
	</main>
</body>
</html>